#holeArtikel {
	visibility: hidden;
}

#hiddenfield {
	visibility: hidden;
}

/* .img {
    position: relative;
    float: left;
    height: 300px;
    width: 200px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}
 */
 
/*  .thumbnail{
 
 height:450px;
 
 } */