body {
	font-family: Arial, Helvetica, sans-serif;
}

* {
	box-sizing: border-box
}

hr {
	border: 1px solid #f1f1f1;
	margin-bottom: 25px;
}

.button-dbae {
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: groove;
	width: 100%;
	display: inline-block;
	font-size: 24px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	background-color: #1f3d6d;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #999;
	float: left;
	width: auto;
	margin: 5px;
	color: white;
}

.button-dbae:active {
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}

.input-dbae {
	width: 100%;
	padding: 15px;
	margin: 10px;
	display: inline-block;
	border: none;
	background: #f1f1f1;
}

.input-dbae:focus {
	background-color: #ddd;
	outline: none;
}

#wichtig{
	font-size:20px;
}

.footer {
	text-align: center;
	margin-top: 50px;
    position: inherit;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}