body {
	font-family: Arial, Helvetica, sans-serif;
	margin-bottom: 80px !important;
}

* {
	box-sizing: border-box
}

hr {
	border: 1px solid #f1f1f1;
	margin-bottom: 25px;
}

html {
    position: relative;
    min-height: 100%;
}

.button-dbae {
	color: white;
	padding: 10px 10px;
	margin: 8px 0;
	border: medium;
	width: 100%;
	display: inline-block;
	font-size: 20px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	background-color: #1f3d6d;
	
	border-radius: 15px;
	box-shadow: 2px 2px #999;
	float: inherit;
	width: auto;
	margin: 5px;
	color: white;
}

.button-dbae:active {
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}

.input-dbae {
	width: 100%;
	padding: 15px;
	margin: 10px;
	display: inline-block;
	border: none;
	background: #f1f1f1;
}

.input-dbae:focus {
	background-color: #ddd;
	outline: none;
}

#wichtig{
	font-size:20px;
}


footer {
	background-color: #f1f1f1;
	text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 60px;
    width: 100%;
    overflow:hidden;
    padding:20px;
}

footer a{
	padding-left: 20px;
}