

nav li  {
font-size: inherit;
}

.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 50px;
  padding: 0px;
  width: auto;
  
}

.navbar .navbar-brand {
  height: auto;
}

.navbar .nav >li >a {
  padding-top: 20px;
  padding-bottom: 10px;
  margin-top: 0px;
  
}



