

nav li  {
font-size: inherit;
}

.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100px;
  padding: 15px;
  width: auto;
}

.navbar .navbar-brand {
  height: 100px;
}

.navbar .nav >li >a {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 10px;
  
}



