nav li  {
font-size: inherit;
}

.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 0px;
  width: auto;
<<<<<<< HEAD

=======
  
>>>>>>> d01419e0a2cecb8385ab283702405c82b352e160
}

.navbar .navbar-brand {
  height: 100px;
}

.navbar .nav >li >a {
  padding-top: 20px;
  padding-bottom: 10px;
  margin-top: 0px;
  
}

