body {
	font-family: Arial, Helvetica, sans-serif;
}

* {
	box-sizing: border-box
}

/* Full-width input fields */
input[type=text], input[type=password] {
	width: 100%;
	padding: 15px;
	margin: 5px 0 22px 0;
	display: inline-block;
	border: none;
	background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
	background-color: #ddd;
	outline: none;
}

hr {
	border: 1px solid #f1f1f1;
	margin-bottom: 25px;
}

/* Set a style for all buttons */
 button {
	
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: groove;
	width: 100%;
	display: inline-block;
	font-size: 24px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	background-color: #1f3d6d;
	border: none;
	border-radius:15px;
	box-shadow: 0 9px #999;
} 

/* Extra styles for the cancel button */
.cancelbtn {
	padding: 14px 20px;
	background-color: #1f3d6d;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
	float: left;
	width: auto;
	margin: 5px;
	color: white;
	
}

/* Add padding to container elements */
.container {
	padding: 16px;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
	.cancelbtn, .signupbtn {
		width: 100%;
	}
}

.name {
	float: left;
	margin: 0;
	padding: 10px;
	width:50%
}

.adresse {
	float: left;
	margin: 0;
	padding: 10px;
	width:50%
}

.pw {
	float: left;
	margin: 0;
	padding: 10px;
	width: 100%
}